.headerContainer {
  height: 5.84rem;
}

.headerContent {
  max-width: 1120px;
  height: 5.84rem;
  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  align-items: center;

  img {
    width: 13.25rem;
    height: auto;
  }
}
